// Place all the styles related to the api/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $home-fontstack: -apple-system,  BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', san-serif
//VARIABLES
$home-fonts: 
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

@mixin pointer {
    &:hover {
        cursor: pointer;
    }
}

$dark-beige: #f2f2f2;
$beige: rgb(248, 248, 248);
//END VARIABLES

.HomeScreen {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}

.HomeSidebar {
    background: rgb(26,26,26);
    width: 241px;
    min-width: 241px;
    font-family: $home-fonts;
    transition: all .5s ease-in-out;
    display:flex;
    flex-direction: column;
    // padding-left: 20px;
    z-index: inherit;

        &.hide-me {
        width: 0px;
        min-width: 0px;
        opacity: 0;
        z-index: -500;
    }
}

.userNav {
    height: 56px;
    display:flex;
    align-items: center;
    padding-left: 20px;
}

.currentUserInfo {
    display: flex;
    min-height: 28px;
    width: 188px;
    padding: 6px;
    
}

.userNav_toggleMenu {
    height: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
}


.accountTitle {
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 300;
    font-size: 12px;
    color: #b3b3b3;
}

.bg--user-icon {
    background-blend-mode: overlay;
    display: block;
    box-sizing: content-box;
    width: 28px;
    height: 28px;
    background-size: 35px 35px;
    background-position: center;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 100%;
    overflow: visible;

    &.inner {

        margin-left: 20px;
        margin-top: 3px;

    }
    
    // border-right: 1.5px solid lighten(#a6a6a6, 25%);
}



.CurrentUserEmail {
    font-size: 13px;
    font-weiht: 300;
    text-align: left;
    color: #ccc;
    line-height: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;

    &.inner {
        color: black;
        font-size: 16px;
        padding: 3px 20px 3px 0;
    }

}

.userNav_sessionOptions  {
        z-index: 1000;
        top: 48px;
        left: 22px;
        position: absolute;
        font-family: sans-serif;
        line-height: 1.5;
        width: 267.391px;
        height: fit-content;
        background: white;
        border-radius: 3px;
        color: #666;
        font-size: 14px;
        box-shadow: 0 0 0 1px rgba(99, 114, 130, .16),
        0 4px 12px rgba(27, 39, 51, .08);
        margin: 6px 0;
        padding: 12px 0;
}

.spacerRow {
    height: 16px;
    width: 100%;
    margin-bottom: 6px;
    border-bottom: 1px solid #ededed;
}

.logoutWrapper a {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    color:#666;
    width: 100%;
    padding: 3px 20px;

    &:hover{
    color: #555;
    background-color: #f5f5f5;
        
    }
}

@mixin home-sidebar-nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-right: 1px;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    margin-left: 0 12px;

}

.HomeSidebar_new-note-button {
    @include home-sidebar-nav();
    color: white;
    padding-left: 25px;

    &:hover .bg--new-note-icon {
        //  background-size: 35px 35px;
         transform: scale(1.2);
         transform-origin: center;
    }

}

.bg--new-note-icon {
     background-image: image_url("new_note_icon");
     display: block;
     box-sizing: content-box;
     width: 30px;
     height: 30px;
     background-repeat: no-repeat;
     background-size: 30px 30px;
     background-position: center;
     margin-right: 10px;
     border-radius: 100%;
     overflow: visible;
    transition: all 0.2s ease-in-out;
}

.HomeSidebar_notes-nav {
    @include home-sidebar-nav();
    padding: 18px 0 0;
}

.HomeSidebar_Trash-nav {
    @include home-sidebar-nav();

}

@mixin sidear-nav-link-style {
        display: flex;
        text-decoration: inherit;
        align-items: center;
        width: 100%;
        padding: 9px 0px 9px 22px;
        color: #ccc;


        
        &:hover {
            background-color: #333;
        }
        &.active {
            font-weight: 500;
            color: #e6e6e6;
            background-color: #404040;
        }
}

.HomeSidebar_all-notes-button {
  @include sidear-nav-link-style();
}

.HomeSidebar_all-Trash-button {
@include sidear-nav-link-style();
}

.bg--note-icon {
    background-image: image_url("note_icon");
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 16px;
    display: block;
    padding: 0px;
}

.NoteIndex {
    width: 345px;
    min-width: 345px;
    background: $beige;
    font-family: $home-fonts;
    display: flex;
    flex-direction: column;
    transition: all .5s ease-in-out;

    &.hide-me {
        width: 0px;
        min-width: 0px;
        opacity: 0;
        z-index: -1;
    }

}

.NoteIndex_NoteIndexHeader {
    height: 135px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 300;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 18px;
    
}

.NoteIndex_NoteIndexTitle {
    padding-top:15px;
    padding-bottom:30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
        min-width: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 12px;
        font-size: 20px;
        letter-spacing: 0.03em;
        font-weight: 400;
        margin: .67em 0;
    }

}

.NoteIndex_NoteIndexDetails {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.NoteIndex_NoteTagsOptions {
    display: flex;
    width:fit-content;
    justify-content: space-between;
    @include pointer;
}
.NoteIndex_NoteTags {
    margin-left: 12px;
}
.NoteIndex_NoteCount {
    font-size: 13px;
    font-family: $home-fonts;
    color: rgb(166, 166, 166);
    line-height: 19.5px;
    @include pointer;
}

.bg--option-dd-icon {
    background-image: image_url("index_options");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
    padding: 2px;
}
.bg--check-icon {

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;
    display: block;
    padding: 2px;

    &.blue, .SortByOption.active & {
         background-image: image_url("blue_check");
    }   

    .SortByOption.grey & {
        background-image: image_url("grey_check");
    }
}

.NoteOptions_SortMenu {
    z-index: 1000;
    top: 127.594px;
    left: 515px;
    position: absolute;
    font-family: sans-serif;
    line-height: 1.5;
    width: 303.203px;
    height: 264px;
    background: white;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    box-shadow: 0 0 0 1px rgba(99, 114, 130, .16),
    0 4px 12px rgba(27, 39, 51, .08);
    margin: 6px 0;
    padding: 12px 0;
}

.SortByTitle {
    font-size: 15px;
    font-weight: 400;
    // line-height: 22.5px;
    color: #7a8083;
    display: block;
    padding: 0 30px 5px 20px;
}

.SortByOption {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 6px 30px 6px 20px;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
    &.active {
        color: #0081c2;
    }
    
    &:hover {
        color: #555;
        background-color: #f5f5f5;
    }

}

.clickOutWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

.bg--tag-icon {
    background-image: image_url("tags");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
    padding: 2px;
}

.NoteItem {
    padding: 15px 25px;
    border: 1px solid rgb(242, 242, 242);
    border-bottom: 1px solid #e6e6e6;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover, &.active {
        background: $dark-beige;
    }
    @include pointer;

}

.NoteItem_NoteTitle {
    font-size: 14px;
    line-height: 24px;
    font-family: $home-fonts;
    text-overflow: ellipsis;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2px;
}

.NoteItem_NoteContent {
    height: 40px;
    font-size: 13px;
    font-weight: 300;
    font-family: $home-fonts;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 19.5px;
}

.NoteItem_NoteUpdated {
    font-size: 12px;
    font-family: $home-fonts;
    color: rgb(166,166,166);
    line-height: 18px;
}

.NoteIndex_NoteRoll {
    overflow-y: scroll;
    height: 100%;
}

.NoteShow {
    min-width: calc(100vw-586px);
    max-width: 100vw;
    width: 100%;
    height: 100%;
    // max-width: 800px;
    display: flex;
    flex-direction: column;
}

.NoteShow_NoteForm {
    width:100%;
    height: 100%;
}

.NoteDetail_NoteHeader {
    display: flex;
    flex-direction: column;
    font-family:$home-fonts;
}

.NoteDetail_NoteHeaderNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    border-bottom: 1px solid #ededed;
    // margin: 0px 20px;
}

.NoteHeaderNav_left {
    display: flex;
    height: fit-content;
}

.NoteHeaderNav_NoteBookLinkWrapper {
    display: flex;
    justify-content: space-between;
    min-width: 108px;
    font-size: 13px;
    
    
    a {
        text-decoration: none;
        color: #7a8083;
        font-weight: 300;
    }
}

.bg--notebook-icon {
    background-image: image_url("notebook_icon");
    display: block;
    // box-sizing:content-box;
    height: 15;
    min-width: 15px;
    background-repeat:no-repeat;
    background-size: 15px 15px;
    background-position: center;
    padding-right: 5px;
}

.bg--expand-icon {
    background-image: image_url("expand_icon");
    display: block;
    box-sizing:content-box;
    height: 20px;
    min-width: 20px;
    background-repeat:no-repeat;
    background-size: 18px 18px;
    background-position: center;
    padding: 0 12px 0 25px;
    margin-right: 18px;
    border-right: 1.5px solid lighten(#a6a6a6, 25%);
    
    &.green {
        background-image: image_url("shrink_icon");
    }
}

.bg--more-icon {
     background-image: image_url("more_icon");
     display: block;
     box-sizing:content-box;
     height: 20px;
     min-width: 20px;
     background-repeat:no-repeat;
     background-size: 17px 17px;
     background-position: center;
     padding: 0 12px 0 25px;
    //  margin-right: 18px;

    &:hover {
        background-image: image_url("more_icon_green");
    }
}

.MoreOptions_DropDown {
    z-index: 1000;
    top: 36.5px;
    right: 20px;
    position: absolute;
    font-family: sans-serif;
    line-height: 1.5;
    width: 231px;
    height: fit-content;
    background: white;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    box-shadow: 0 0 0 1px rgba(99, 114, 130, .16),
        0 4px 12px rgba(27, 39, 51, .08);
    margin: 6px 0;
    padding: 12px 0;
}

.MoreOption {
    padding: 6px 30px 6px 20px;

    &:hover {
        color: #555;
        background-color: #f5f5f5;
    }
}

.NoteShow_ToolBar {
    width: 100%;
    display: block;
    box-sizing: content-box;
    height: 24px;
    padding: 5px 0 10px;
    margin: 0 40px;
}

.NoteDetail_NoteTitle {
    border: 0;
    width: 100%;
    display: block;
    font-size: 34px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 40px 4px;
    outline: none;
    z-index: 1;
    cursor: text;
}

.NoteDetail_DisableWrapper {
    height: inherit;
}

.NoteDetail_NoteContent {
    border: 0;
    display: block;
    // width: 100%;
    height: 100%;
    resize:none;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 12px 40px 16px;
    box-sizing: content-box;
    
    &:focus{
        border: none;
        outline: none;
    }

}

.modalBody {
    width: 500px;
    height: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s ease-in width;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .08),
    0 2px 15px rgba(0, 0, 0, .2);
    border-radius: 4px;
    font-family: $home-fonts;
    
}

.clickOutWrapper.modal {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 51, 60, .4);
}

.modalHeader {
    padding: 20px 25px 18px;
    display: flex;
}

.modalTitle {
    font-size: 18px;
}

.modalContent {
    padding: 10px 25px 25px;
    font-size: 14px;
    word-break: break-word;
    font-weight: 300;
}

.modalFooter {
    border-top: 1px solid #e6e6e6;
    padding: 20px 25px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.modal-btn {
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 10px;
    text-transform: capitalize;
    
    &:last-child {
        margin-right: 0;
        text-transform: capitalize;
    }

    &.continue {
        background: #00a82d;
        border-color: #00a82d;
        color: white;
        text-transform: capitalize;
    }

    &.cancel {
        color: #b3b3b3;
        border-color: #ededed;
        text-transform: capitalize;

    }
}

.emptyTrashBtn {
    border: solid 1px #ff7070;
    // margin-top: 10px;
    color: #ff7070;
     width: fit-content;
     display:block;
     height: 15px;
    max-height: 26px;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    box-sizing: content-box;
    transition: background 0.1s ease-out,
    color 0.1s ease-out,
    border 0.1s ease-out,
    opacity 0.1s ease-out;
    transform-origin: center;
    // width:100%;
        &:hover {
            background: #ff7070;
            color: white;
            font-weight: 500;
        }
}