// Place all the styles related to the api/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $home-fontstack: -apple-system,  BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', san-serif
//VARIABLES
$home-fonts: 
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

@mixin pointer {
    &:hover {
        cursor: pointer;
    }
}

$dark-beige: #f2f2f2;
$beige: rgb(248, 248, 248);
//END VARIABLES

.HomeScreen {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    
}

.HomeSidebar {
    background: black;
    width: 241px;
    min-width: 241px;
    font-family: $home-fonts;
}

.NoteIndex {
    width: 345px;
    min-width: 345px;
    background: $beige;
    font-family: $home-fonts;
    display: flex;
    flex-direction: column;

}

.NoteIndex_NoteIndexHeader {
    height: 135px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 300;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 18px;
    
}

.NoteIndex_NoteIndexTitle {
    padding-top:15px;
    padding-bottom:30px;

    h1 {
        min-width: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 12px;
        font-size: 20px;
        letter-spacing: 0.03em;
        font-weight: 400;
        margin: .67em 0;
    }

}

.NoteIndex_NoteIndexDetails {
    display: flex;
    justify-content: space-between;
}

.NoteIndex_NoteTagsOptions {
    display: flex;
    width:48px;
    justify-content: space-between;
    @include pointer;
}

.NoteIndex_NoteCount {
    font-size: 13px;
    font-family: $home-fonts;
    color: rgb(166, 166, 166);
    line-height: 19.5px;
    @include pointer;
}

.bg--option-dd-icon {
    background-image: image_url("index_options");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
    padding: 2px;
}
.bg--check-icon {

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;
    display: block;
    padding: 2px;

    .SortByOption.active & {
         background-image: image_url("blue_check");
    }   

    .SortByOption.grey & {
        background-image: image_url("grey_check");
    }
}

.NoteOptions_SortMenu {
    z-index: 1000;
    top: 127.594px;
    left: 515px;
    position: absolute;
    font-family: sans-serif;
    line-height: 1.5;
    width: 303.203px;
    height: 264px;
    background: white;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    box-shadow: 0 0 0 1px rgba(99, 114, 130, .16),
    0 4px 12px rgba(27, 39, 51, .08);
    margin: 6px 0;
    padding: 12px 0;
}

.SortByTitle {
    font-size: 15px;
    font-weight: 400;
    // line-height: 22.5px;
    color: #7a8083;
    display: block;
    padding: 0 30px 5px 20px;
}

.SortByOption {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 6px 30px 6px 20px;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
    &.active {
        color: #0081c2;
    }
    
    &:hover {
        color: #555;
        background-color: #f5f5f5;
    }

}

.clickOutWrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}

.bg--tag-icon {
    background-image: image_url("tags");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
    padding: 2px;
}

.NoteItem {
    padding: 15px 25px;
    border: 1px solid rgb(242, 242, 242);
    border-bottom: 1px solid #e6e6e6;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover, &.active {
        background: $dark-beige;
    }
    @include pointer;

}

.NoteItem_NoteTitle {
    font-size: 14px;
    line-height: 24px;
    font-family: $home-fonts;
    text-overflow: ellipsis;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 2px;
}

.NoteItem_NoteContent {
    height: 40px;
    font-size: 13px;
    font-weight: 300;
    font-family: $home-fonts;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 19.5px;
}

.NoteItem_NoteUpdated {
    font-size: 12px;
    font-family: $home-fonts;
    color: rgb(166,166,166);
    line-height: 18px;
}

.NoteIndex_NoteRoll {
    overflow-y: scroll;
    height: 100%;
}

.NoteShow {
    width: 100%;
    // max-width: 800px;
    display: flex;
}

.NoteShow_NoteForm {
    width:100%;
}

.NoteDetail_NoteHeader {
    display: flex;
    flex-direction: column;
    font-family:$home-fonts;
}

.NoteDetail_NoteHeaderNav{
    display: flex;
    justify-content: space-between;
    height: 54px;
}

.NoteShow_ToolBar {
    width: 100%;
    display: block;
    box-sizing: content-box;
    height: 24px;
    padding: 5px 0 10px;
    margin: 0 40px;
}

.NoteDetail_NoteTitle {
    border: 0;
    width: 100%;
    display: block;
    font-size: 34px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 40px 4px;
    outline: none;
    z-index: 1;
    cursor: text;
}

.NoteDetail_NoteContent {
    border: 0;
    display: block;
    width: 100%;
    resize:none;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 12px 40px 16px;

}