// Place all the styles related to the api/Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$tags-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;

.TagsIndex {
    font-family: $tags-font;
    padding: 0 30px;
    width: 100%;
    

}

.TagsIndex_TagHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1
    
}

.TagsHeader_TagsTitle {
    font-size: 20px;
}

.TagsHeader_NewTagButton {
    font-size: 14px;
    line-height: 24px;
    color: #00a82d;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.bg--new-tag-icon {
    background-image: image_url("new_tag");
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 16px;
    display: block;
    padding: 0px;
}

.TagsIndex_Body {
    border-top: 2px solid #5b6b70;
    width: 100%;
    height: 100%;
    padding: 25px 0;
    overflow-y: scroll;
    overflow-x: visible
}

.LetterList {
    // height: 119px;
    // display: block;
    padding-bottom: 36px;
}

.LetterList_Header {
    margin-bottom: 9px;
    margin-left: 10px;
    font-size: 15px;
    color: #333;
}

.LetterListItem {
    line-height: 24px;
    font-size: 13px;
    color: #333;
    white-space: nowrap;
    font-weight: 400;
    display: flex;
}

.TagDetailWrapper {
    display: flex;
}

.NoteCount {
    margin: 0 5px;
    opacity: 0.5;
}

.bg--tag-dd-options {
    transform: rotateX(180deg) scaleX(1.5);
    opacity: 0.5;
    font-weight: 100;
    margin: 0px 5px;
    visibility: none;
    opacity: 0;
}

.LetterList ul {
    margin-left: 10px;

    li {
        width: fit-content;
        padding: 0px 10px;
        margin-left: -10px;
        cursor: pointer;

        &:hover, &.selected{
            background-color: #f0f1f1;
            border-radius: 12px;

            .bg--tag-dd-options {
                visibility: visible; 
                opacity: 0.5;
            }
        }
    }
}

:root{
--tag-options-x: 515px;
--tag-options-y: 127.594px;
}
.TagOptions {
    z-index: 1000;

    top: var(--tag-options-y);
    right: var(--tag-options-x);
    position: absolute;
    font-family: sans-serif;
    line-height: 1.5;
    // width: 303.203px;
    // height: 264px;
    background: white;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    box-shadow: 0 0 0 1px rgba(99, 114, 130, .16),
    0 4px 12px rgba(27, 39, 51, .08);
    margin: 6px 0;
    padding: 12px 0;
}

.NoteFooterContainer {
    position: fixed;
    display: flex;
    align-items: center;
    font-family: $tags-font;
    border-top: 1px solid #ececec;
    height: 50px;
    width: 100%;
    bottom: 0;
}

.NoteFooter {
    display: flex;
}

.NoteTagsContainer {
    display: flex;
}

.bg--newnote-grey-icon {
    background-image: image_url("new_tag_grey");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 23px;
    display: block;
    padding: 0px 10px 0px 15px;
    // opacity: 0.5;
    
}