// @import "./splashs/all";
@import url("https://use.typekit.net/uzj7brn.css");
//VARIABLES
$form-fonts: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
'Roboto',
'Oxygen',
'Ubuntu',
'Cantarell',
'Fira Sans',
'Droid Sans',
'Helvetica Neue',
sans-serif;
//END VARIABLES


// RESET

html,
body,
div,
span,
h1,
h2,
h3,
h4,
a,
ol,
ul,
li,
form,
label,
article,
aside,
figure,
figcaption,
footer,
header,
nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: soleil, sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    // line-height: 22px;
}

ol,
ul {
    list-style: none;
}

img {
    width: 100%
}

// END RESET




.top {
    background: #fff;
     position: fixed;
     top: 0;
     width: 100%;
     padding: 0px;
     z-index: 999;
    }
    
    .row {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 40px;
    // position: relative;
}

.splash-header {
    min-width: 1000px;
    .row {
        height: 130px;
        min-width: 1000px;
    }
    .logo {
        display: inline-block;
        a {
            display: block;
            width: 177px;
            height: 40px;
            text-indent: -9999px;
            background-size: contain;
           
        }
        span {
            position: absolute;
            right: 9999px;
        }
        figure {
            background-image: image-url("ForgetMeNote_lockup");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 250px;
            height: 40px;
            display: block;
        }
    }
    .splash-nav {
        display: inline-block;
        vertical-align: top;
        margin-top: 22px;
        margin-left: 50px + 80px;
        li {
            display: inline-block;
            padding-bottom: 22px;
            position: relative;
            margin-left: 28px;
            &:first-child {
                margin-left: 0px;
            }
            a {
                font-family: soleil, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: .5;
            }
        }
    }
    a {
        color:#000;
         &:link {
             color: #000;
             text-decoration: none;
             transition: color .1s ease-in-out;
         }
         &:focus, &:hover{
             color: #00a82d;
             transition: color .1s ease-in-out;
         }
    }
    .session-nav{
        display: inline-block;
        margin-left: auto;
        li {
            &:first-child {
                margin-left: 0px;
            }
            display: inline-block;
            position: relative;
            vertical-align: middle;
            font-size: 14px;
            margin: 0 5px;
        }
        a {
            color: #00a82d;
            padding-bottom: 2px;
            &:link {
                font-size: 16px;
                text-decoration: none;
                transition: color .1s ease-in-out;
            }
            &:focus,
            &:hover {
                color: #14cc45;
                transition: color .1s ease-in-out;
            }
        }
    }
}

body {
    font-size: 16px;
    line-height: 22px;
    color: black;
    padding-top: 130px;
    min-width: 1000px;
}

ol,
p,
table,
ul {
    font-family: Soleil, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
}

.btn {
    font-family: Soleil_Bold, Helvetica, Arial, sans-serif;
    display: inline-block;
    height: 40px;
    min-width: 120px;
    font-size: 14px;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;
    color: #00a82d;
    border-radius: 3px;
    border: 2px solid #00a82d;
    padding: 0 10px;
    transition: border .3s ease-in-out,
    color .3s ease-in-out;
    -webkit-font-smoothing: antialiased;
    &:hover, &:focus {
            color: #14cc45;
            border: 2px solid #14cc45;
            transition: border .1s ease-in-out,
            color .1s ease-in-out;
            
    }
}

.splash-hero{
    background-color: #00a82d;
    background-image: image-url("main-green");
    background-blend-mode: normal;
    .row {
        display: flex;
        position: relative;
        background-color: transparent;
        // top: 200px;
    }
}

.content-container {
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
    padding: 120px 0;

    .cta {
        color: white;
        padding: 0 40px 0 0;
        width: 50%;
        position: relative;
        z-index: 1;
        letter-spacing: 0;
            h1{
                font-size: 56px;
                line-height: 72px;
                margin-bottom:20px;
                font-weight: 600;
            }
            p {
                font-weight: 300;
                font-size: 24px;
                line-height: 40px;
                margin-bottom: 35px;
            }
            .btn {
                color: #00a82d;
                display: inline;
                background-color:white;
                font-size: 16px;
                font-weight: 600;
                min-width: 240px;
                text-transform: uppercase;
                line-height: normal;
                text-decoration: none;
                text-align: center;
                border: 0;
                border-radius: 3px;
                padding: 18px 32px 17px;
                transition: background .3s ease-in-out;
                -webkit-font-smoothing: antialiased;
                letter-spacing: 1.5px;
                &:hover, &:focus{
                    background-color: #f7f7f7;
                }
            }
    }

    .image {
        width: 50%;
        text-align: center;
        figure{
            background-image: image-url("homepage-hero-desktop");
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 350px;
            display: inline-block;
            
        }
    }

}

.formMain {
     background-image: image-url("signin_background");
     background-size: 228px 228px;
     display: block;
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0;

         
     .formFrame{
         position: absolute;
         top:50%;
         left: 50%;
         transform: translate(-50%, -50%);
         display: block;
         .loginFormWrapper, .signupFormWrapper{
            position:relative;
            margin: 0 auto;
            padding: 0 10px 0;
            font-weight: 400;
            .formBody{
                background: #fff;
                max-width: 512px;
                margin: 0px auto 28px auto;
                padding: 62.12px 99px 48px;
                width: 314px;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                text-align: left;
                display: block;
                box-sizing: content-box;
                // width: fit-content;
                .heading{
                    text-align: center;
                    color: #333;
                    margin-bottom: 44px;
                    .tagline{
                        color: #333333;
                        font-size: 16px;
                        font-family: $form-fonts;
                    }
                    .formLogo{
                        margin-bottom: 19px;
                        
                        figure {
                                background-image: image-url("forgetmenote_stacked_logo");
                                background-size: 314px 200px;
                                background-repeat: no-repeat;
                                background-position: center;
                                // background-size: 
                                width: 100%;
                                height: 115px;
                                min-width: 200px;
                                // height: 40px;
                               
                        }
                    }
                }  
                
            }
         }
     }
}

form .row {
    width: 100%;
    margin-bottom: 6px;
    box-sizing: content-box;
    font-size: 75%;
    padding: 0px;
    &::before, &::after{
        display: table;
        content: "";
    }
    &::after {
        clear: both;
    }
    &.horizontalRow {
        position: relative;
        margin-bottom: 18px;
        margin-top: 17px;
        .signupFormWrapper & {
            display: none;
        }
        }
        .horizontalText {
            width: 100%;
            text-align: center;
            background-color: #ffffff;
            position: relative;
            color: #ababab;
            font-size: 14px;
            z-index: 1;
            overflow: hidden;
            &::before{
                margin-left: -52%;
                text-align: right;
                width: 50%;
                top: 51%;
                overflow: hidden;
                height: 1px;
                background-color: #d0d0d0;
                content: '\a0';
                position: absolute;
            }
            &::after{
                margin-left: 2%;
                text-align: right;
                width: 50%;
                top: 51%;
                overflow: hidden;
                height: 1px;
                background-color: #d0d0d0;
                content: '\a0';
                position: absolute;
            }
          
        }
}

.demo-user-wrapper {
    
    height: 40px; 
    box-sizing: content-box;
    width: 100%;
    border-radius: 7px;
    border: solid 1px #d0d0d0;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: auto;
    text-decoration: none;
    &:hover {
        background-color: #f8f8f8;
    }
    &:focus {
        border-color: #dff2e6;
        outline: none;
        box-shadow: 0 0 0 1px #dff2e6, 0 0 4px 0 #dff2e6;
    }
    .demo-user-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        div {
            max-width: 280px;
            // width: 100%;
            font-size: 15px;
            color: #6a6a6a;
            display: inline-block;
            position: relative;
            // padding-left: 6px;
            
            font-family: $form-fonts;
            font-weight: 200;
        }
    }
    .signupFormWrapper & {
        display: none;
    }
}



.input-wrapper{ 
    input{
        border-radius: 7px;
        // max-width: 280px;
        width:314px;
        color: #333333;
        border: 1px solid #e6e6e6;
        padding: 12px 16px;
        // height: 40px;
        line-height: 1.1875;
        font-size: 17px;
        box-sizing: border-box;
        font-family: $form-fonts;
        font-weight: 200;
        &:focus{
            border-color: #dff2e6;
            outline:none;
            box-shadow: 0 0 0 1px #dff2e6, 0 0 4px 0 #dff2e6;
        }
    }
            .btn-submit {
                    background-color: #00a82d;
                    border-radius: 7px;
                    font-family: $form-fonts;
                    font-style: normal;
                    font-weight: 200;
                    width:314px;
                    // line-height: 40.6667px;
                    font-size:18.3333px;
                    // height: 40px;
                    color: white;
                    margin-top: 7px;
                    &:hover {
                        background-color: #008f26;
                    }
                    &:focus{
                        border-radius: 3px;
                        border-color: #3d96e3;
                        outline: none;
                        box-shadow: 0 0 0 1px #3d96e3,
                            0 0 7px 0 rgba(61, 150, 227, 0.7);
                    }
            
            }
}


.switch-context{
    font-family: $form-fonts;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    color: #737373;
    text-align: center;
    margin-top: 34px;
    a{
        transition: all .2s ease;
        font-weight: 200;
        font-size: 16px;
        line-height: 18px;
        color: #00a82d;
        text-decoration: none;
        margin-top:8px;
    }
}

%hidden-form-style { 
position: relative;
transition: all .5s ease-in-out;
// transition-delay: 1s;
// transition:  2s ;
opacity: 0px;
visibility: hidden;
height: 0;
margin: 0px;
padding: 0px 16px;
line-height: 0px; 
}

%show-style {
    // position: inherit;
    // top: 0px;
    height: 46px;
    opacity: 1;
    visibility: visible;
    margin: 7px 0px;
    ;
    padding: 12px 16px;
    line-height: 21px;
}

.loginFormWrapper  {
    .input-wrapper{
        line-height: 0;
    }
    input[type=password]{
        // &.hide-me {
            @extend %hidden-form-style;
        // }
        &.show-me {
            @extend %show-style;
            transition-delay: .7s;

        }
    }
        .errors {
            // &.hide-me {
            @extend %hidden-form-style;
            // padding-left: 12px 16px;

            // }
            &.show-me {
                @extend %show-style;
                transition-delay: .7s;

            }
    }

    .btn-submit {
         @extend %hidden-form-style;
            transition: all .5s;
            // transition-delay: .5s;

         // }
         &.show-me {
             @extend %show-style;
             transition: all .5s;
             transition-delay: .5s;  
             margin-top: 0px;         
         }

    }
    .errors {
    padding: 0;
    position: relative;
    top: 0px;
    height: 0px;
    span{
        color: #6a6a6a;
        font-family: $form-fonts;
        font-weight: 200;
        font-size: 14px;
        width: 314px;
        margin:0;
        padding:0;
        text-align: center;
        
        
    }
    
}
}